.menu-wrapper,
.menu-container {
	background-color: #000;
	height: 60px;
	color: #fff;
}

@media screen and (max-width: 959px) {
	.menu-dark .row-menu .row-menu-inner {
		border-bottom: none !important;
	}
}

.footer-last {
	display: none !important;
}




.bugme {
	float: none;
	padding: 7px 20px;

	&-close {
		top: 7px;
	}
}

@media screen and (max-width: 767px) {
	.bugme {
		font-size: 13px !important;

		&-close {
			right: 10px;
		}
	}
}

@media screen and (max-width: 478px) {
	.bugme {
		font-size: 12px !important;
	}
}
