.section--recent-blog-gallery{
  i.icon-down {
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;

    margin-left: -18px;
    width: 36px;
    height: 20px;
    cursor: pointer;
    background: url(../images/home/down-arrow.png) center no-repeat;
    background-size: cover;
    z-index: 100;
  }
  .phototalk-recent-blog-gallery-wrapper{
    width: 1440px;
    margin: 0px auto;
    .phototalk-recent-blog-gallery-heading{
      font-size: 24px;
      font-family: 'Avenir';
      font-weight: 900;
      color: #000;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .phototalk-recent-blog-gallery-container{
      padding-top: 50px;
      padding-left: 3%;
      padding-right: 3%;
      display: flex;
      justify-content:space-around;
      .phototalk-recent-blog-gallery-item-wrapper{
        text-align: center;
        position: relative;
        .overlay-wrapper{
          left: 0px;
          top: 0px;
          background-color:rgba(0,0,0,0.5);
          position: absolute;
          width: 100%;
          height: 100%;

          .phototalk-recent-blog-gallery-title{
            h2{
              color: white;
              font-family: 'Avenir';
              font-weight: 900;
              font-size: 30px;
            }
          }
          .phototalk-recent-blog-gallery-content{
            p{
              color: white;
              font-family: 'Avenir';
              font-weight: 200;
              font-size: 12px;
            }
          }
          .btn-container{
            .btn-color-xsdn{
              background-color: transparent !important;
              border-radius: 0px !important;
              height: 30px;
              font-size: 10px;
              padding:9px 12px !important;
            }
            .btn-color-xsdn:hover{
              background-color: white !important;
              border-color: black !important;
              color: black !important;
              border-radius: 0px !important;
            }
          }
        }
      }
      .phototalk-recent-blog-gallery-item-wrapper:nth-child(even){
        padding:160px 20px 140px;
        height: 553px;
        width: 20%;
        .overlay-wrapper{
          padding:160px 20px 140px;
          .phototalk-recent-blog-gallery-title{
          }
          .phototalk-recent-blog-gallery-content{
            p{
              margin-top: 42px;
            }
          }
          .btn-container{
            margin-top: 46px;
          }
        }
      }
      .phototalk-recent-blog-gallery-item-wrapper:nth-child(odd){
        height: 409px;
        margin-top: 70px;
        padding:90px 20px;
        width: 18%;
        .overlay-wrapper{
          padding:90px 20px;
        }
      }
    }
  }
}
