.section--footer {
	position: relative;
	padding: 17px 0;
	.social-links-wrapper {
		position: absolute;
		right: 20px;
		top: 0;
		.icon-box.icon-inline {
			padding-left: 5px;
			padding-right: 5px;
			img {
				width: 25px;
			}
		}
	}
	@media screen and (max-width: 767px) {
		padding: 25px 0;
		h5.h5 {
			font-size: 14px;
		}
		.social-links-wrapper {
			position: relative;
			margin-top: 20px !important;
			right: auto;
			.uncont {
				text-align: center !important;
			}
		}
	}
}