.section--header{
  display: inline-block;
  .phototalk-header-wrapper{
    display: flex;
    .phototalk-header-left-part{
      width: 80%;
      height:603px;
      background-size:cover;
      position: relative;
      .blog-container{
        height: 100%;
        width: 450px;
        padding:50px 103px 107px;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        right: 0px;
        text-align: center;
        .phototalk-header-section-title{
          h2{
            font-size: 31px;
            font-weight: 900;
            font-family: 'Avenir';
            color: white;
          }
        }
        .phototalk-header-section-content{
          p{
            font-size: 21px;
            font-weight: 200;
            color: white;
            line-height: 1.3em;
            margin-top: 50px;
          }
        }
        .btn-container{
          margin-top: 70px;
          .btn-color-xsdn{
            background-color: transparent !important;
            border-radius: 0px !important;
            height: 50px;
            width: 170px;
            font-size: 16px;
            padding:15px 12px !important;
          }
          .btn-color-xsdn:hover{
            background-color: white !important;
            border-color: black !important;
            color: black !important;
            border-radius: 0px !important;
          }
        }
      }
    }
    .phototalk-header-right-part{
      width: 20%;
      border:1px solid white;
      position: relative;
      .btn-container{
        position: absolute;
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);
        .btn-color-xsdn{
          background-color: transparent !important;
          border-radius: 0px !important;
          height: 50px;
          width: 170px;
          font-size: 16px;
          padding:15px 12px !important;
        }
        .btn-color-xsdn:hover{
          background-color: white !important;
          border-color: black !important;
          color: black !important;
          border-radius: 0px !important;
        }
      }
    }
  }
  .play-video-btn{
    position: absolute;
    z-index: 100;
    margin-top: 0px !important;
  }
}
