.menu-container {	
	#logo-container-mobile{
		padding: 20px 37px;
	}
	.main-menu-container {
		overflow: hidden !important;
		a{
			color: #fff;
			font-family: 'Avenir Next';
		}
	}

	@media screen and (max-width: 959px) {
		#logo-container-mobile,
		.mobile-menu-button {
			padding: 17px 25px !important;
		}
	}
}
