.section--spotlight{
  .double-block-padding{
    padding-top: 0px !important;
  }
  .photologo{
    .single-wrapper{
      border: 1px solid #AAA;
    }
  }
  .photopolish{
    .single-wrapper{
      border: 1px solid #AAA;
    }
  }
}
