.section--view-story{
  @media screen and (min-width: 1400px){
    width: 1400px !important;
    margin:0px auto;
  }
  .phototalk-story-left-part{
    .phototalk-story-section-title{
      h2{
        font-size: 42px;
        font-family: 'Avenir';
        font-weight: 200;
        color: black;
      }
    }
    .text-block{
      width: 70%;
      margin: 0px auto;
      text-align: justify;
    }
    .btn-more-stories{
      font-weight: 400 !important;
      border-radius: 0px;
    }
  }
}
.section--story{
  margin-top: 10px !important;
  margin-bottom: 55px !important;
  @media screen and (min-width: 1400px){
    width: 1440px !important;
    margin:0px auto;
  }
  .phototalk-story-wrapper{
    display: flex;
    .phototalk-story-left-part{
      width: 50%;
      padding-top: 70px;
      padding-bottom: 110px;
      .phototalk-story-section-title{
        h2{
          font-size: 42px;
          font-family: 'Avenir Next';
          font-weight: 200;
          color: black;
          margin-top: 0px !important;
        }
      }
      .phototalk-story-section-content{
        margin-top: 36px;
        h2{
          font-size: 29px;
          font-weight: 800 !important;
          font-family: Raleway !important;
          margin-top: 0px !important;
          color: black;
        }
      }
      .phototalk-story-section-wrapper{
        margin-top: 45px;
        p{
          width: 70%;
          margin: 0px auto;
          text-align: justify;
        }
      }
      .phototalk-story-author{
        margin-top: 106px;
        h2{
          font-weight: 200 !important;
          font-size: 23px;
          font-family: 'Avenir Next' !important;
          color: #303133;
        }
      }
      .btn-container{
        margin-top: 90px;
      }
      .btn-more-stories{
        font-weight: 400 !important;
        border-radius: 0px;
      }
    }
    .phototalk-story-right-part{
      width: 50%;
    }
  }
}
