.phototalk-story-container{
  text-align: center;
  margin-top: 0px !important;
  @media screen and (min-width: 1400px){
    width: 100%;
    margin:0px auto;
  }
  .phototalk-story-wrapper{
    display: flex;
    .phototalk-story-left-part{
      width: 50%;
      padding-top: 70px;
      padding-bottom: 110px;
      .phototalk-story-section-title{
        h2{
          font-size: 42px;
          font-family: 'Avenir Next';
          font-weight: 200;
          color: black;
          margin-top: 0px !important;
        }
      }
      .phototalk-story-section-content{
        margin-top: 36px;
        h2{
          font-size: 29px;
          font-weight: 800 !important;
          font-family: Raleway !important;
          margin-top: 0px !important;
          color: black;
        }
      }
      .phototalk-story-section-wrapper{
        margin-top: 45px;
        p{
          width: 70%;
          margin: 0px auto;
          text-align: justify;
        }
      }
      .phototalk-story-author{
        margin-top: 106px;
        h2{
          font-weight: 200 !important;
          font-size: 23px;
          font-family: 'Avenir Next' !important;
          color: #303133;
        }
      }
      .btn-container{
        margin-top: 90px;
      }
      .btn-more-stories{
        font-weight: 400 !important;
        border-radius: 0px;
      }
    }
    .phototalk-story-right-part{
      width: 50%;
    }
  }
}
.photopolish-advert{
  width: 710px;
  margin: 0px auto;
}
